/* --- ALL --- */
* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

/* --- HEAD --- */
#headBox {
  display: flex;
  flex-direction: row;
  flex: 0 1 10%;
  justify-content: space-around;
}

#headBox-Title {
  flex: 0 1 80%;
  align-self: flex-start;
  padding-left: 4rem;
}

#headBox-Title h1 {
  font-size: 2.5rem;
}

#headBox-Options {
  flex: 0 1 20%;
  align-self: flex-end;
}

#headBox-Options a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

/* --- MAIN --- */
#mainBody {
  display: flex;
  flex-direction: column;
  flex: 0 1 80%;
  align-items: stretch;
}

/* --- SIDE --- */
#sideBox {
  display: flex;
  flex-direction: column;
  flex: 0 1 20%;
  margin: 0.25rem;
  border-style: solid;
  border-width: thick;
  border-color: black;
}

#sideBox-Title {
  text-align: center;
}

#sideBox-List {
  display: flex;
  flex-direction: column;
}

.sideBox-ListItem {
  padding: 0.5rem;
}

/* --- CONTENT --- */
#mainBox {
  display: flex;
  flex-direction: column;
  flex: 0 1 80%;
  margin: 0.25rem;
}

.topicBox {
  border-width: thick;
  border-color: black;
  border-style: solid;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.topicBox-Title {

}

.topicBox-Issue {

}

/* --- FOOT --- */
#footBox {
  display: flex;
  flex-direction: row;
  flex: 0 1 10%;
  justify-content: space-evenly;
}

#footBox-Info {

}

.mapboxgl-map {
  /* display: inline-block; */
  position: absolute;
  top: 6rem;
  bottom: 0;
  width: 100%;
}

.mapboxgl-missing-css {
  visibility: hidden;
}

#upload {
  text-align: center;
  padding-top: 3rem;
}

#messageForm {
  size: 2rem;
  height: 4rem;
}

#pictureForm {
  /* size: 2rem; */
}
